.post-container {
    display: flex;
    margin: $s-size;
    padding: $s-size;
    background-color: $off-white;
    flex-direction: column;
}

.post-container-reply {
    @extend .post-container;
    width: 70%;
    background-color: darken($off-white, 20%);
    margin-left: auto;
}

.post-content-container {
    display: flex;
    flex-direction: row;
}

.post-content-container-reply {
    @extend .post-content-container;
    background-color: darken($off-white, 20%);
}

.post-byline {
    font-size: $font-size-xsmall;
    color: $grey;
    margin-left: auto;
}

.post-profile-pic {
    max-width: 80px;
    padding-right: $s-size;
}

.comment-button {
    margin-left: auto;
}